body, html {
    background-color: #171717;
    height: 100%;
    overflow: hidden;
}

* {
    padding: 0px;
    margin: 0px;
}

div#topbar {
    background-color: #2b2b2b;
    min-height: 50px;
}

div#sidebar {
    border-right: 1px solid #262626;
    width: 30%;
    position: absolute;
    top: 50px;
    left: 0px;
    bottom:0px;
    color: #aaaaaa;
    font-family: Arial;
}

div#sidebar ul.options {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

div#sidebar ul.options li a {
    background: #4c4c4c;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
}

div#sidebar ul.consoles {
    padding-bottom: 20px;
}

div#sidebar ul.consoles li {
    background: #333333;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
}

div#sidebar ul.consoles li:hover {
    background: #404040;
}

div#content {
    width: 70%;
    position: absolute;
    top: 50px;
    right: 0px;
    bottom:0px;
    color: #aaaaaa;
    font-family: Arial;
}
